extend layout 
//This will output all of the content of layout.jade, and allow us to define content to be output in place of the blocks that we defined
block content
  p
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel consequat arcu. Curabitur dictum laoreet euismod. Nam quis sem velit. Ut convallis sit amet     
    | et laoreet. Ut laoreet hendrerit consectetur. Suspendisse finibus purus nec tortor iaculis, et bibendum nisi convallis. Curabitur pretium vel tellus eget porttitor.  
    | Aliquam vulputate ut nibh at pellentesque. Sed pellentesque interdum odio sit amet gravida. Sed ac suscipit mi. Vestibulum id pretium tortor. Maecenas iaculis luctus 
    | lectus, vitae fringilla tortor tristique nec. Nunc dui ante, sodales vel condimentum sed, elementum id urna. Vivamus fermentum imperdiet porttitor. Curabitur pulvinar 
    | sollicitudin tortor sodales placerat.
  p
    |Curabitur a leo non odio bibendum sodales a non nulla. Maecenas non libero sit amet dui tincidunt mollis et non purus. Vivamus nec pulvinar lorem. Suspendisse volutpat,  | justo id rhoncus interdum, nibh nulla vestibulum mauris, ac rhoncus neque augue pretium elit. Curabitur eu quam purus. Class aptent taciti sociosqu ad litora torquent   | conubia nostra, per inceptos himenaeos. Vestibulum porttitor dignissim tellus ac maximus. Praesent ultricies fermentum justo, euismod cursus diam consectetur et. Proin  | tristique odio id tortor consectetur, et volutpat tellus semper.

    | Sed id purus non ipsum hendrerit faucibus. Proin ac condimentum ex, eget tempor purus. Donec aliquam placerat urna, id placerat sapien lacinia nec. Sed vel interdum     | lectus. Donec eu eros odio. Ut porttitor tellus ac metus sodales venenatis. Maecenas mattis ipsum dictum est blandit, ac commodo leo sagittis. Curabitur feugiat sapien  | eu lectus cursus feugiat. Aenean vel tempus enim. Mauris molestie tellus a tellus interdum aliquam.
block sidebar
  .widget
    h1 Widget
    p
      | Nunc venenatis in nisi id aliquet. In viverra lorem sollicitudin ipsum egestas, fermentum mattis mauris fermentum. Maecenas lorem ante, tincidunt at imperdiet eget,   | bibendum eu eros. Donec in congue tortor. Donec efficitur massa porta nisi congue, nec cursus quam lobortis. Aliquam condimentum elit velit, ac dictum lacus vulputate.| Etiam euismod sit amet justo in efficitur. Vivamus tellus ligula, euismod eu accumsan sit amet, commodo id tortor. Etiam in eros velit. Morbi in blandit libero, eu    | lobortis elit. Aenean finibus sit amet mi at fermentum. Aenean finibus ullamcorper ex, id ultrices sem luctus in. Vestibulum semper id eros vitae interdum. Vestibulum | varius nunc sed eros posuere fermentum. Nullam eleifend pulvinar ornare.
      | eleifend nibh porttitor. Ut in nulla enim.
    p
      | Vivamus hendrerit arcu sed erat molestie
      | vehicula.